/*
#1db954	(29,185,84)
#212121	(33,33,33)
#121212	(18,18,18)
#535353	(83,83,83)
#b3b3b3	(179,179,179)
*/

canvas{
   left:0;
   top:0;
   z-index:-1;
 /*  border-style: solid;
   border-color: red;*/
     position:fixed;
}

:root {
    --Green: #1db954;
    --Black: #121212;
    --DarkGray: #212121;
    --Gray:#535353; 
    --LightGray: #b3b3b3;
}

html { position: relative; min-height: 100%; }

body {
  margin-bottom: 200px; /* Margin bottom by footer height */
  background-color: var(--DarkGray);
  color:#FFF;
  font-size: 1em;
  font-family: 'Merriweather', serif;
}

h1{
	font-size: calc(20px + 5vw);
}

.lead{
	font-size: calc(20px +3vw);
}

#Artist{
	width: 100%;
	display: block;
	/*height: 4vw;*/	
}

#Title{
	width: 100%;
	display: block;
	/*overflow: wrap;*/
}

#NoMusic{
	
}

#YesMusic{
	display: hidden !important;
}

.palette{
	/*width: 20px;
	height: 20px;
	margin: 1vw;
	display:hide;
	float:left;*/
}

footer {
    height: calc(10vw + 100px); 
    width: 100vw; 
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-color: transparent;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
    display: block;
}

.album-current{
	overflow: hidden;	
	height:100px;
}

.album-cover{
	/* 640x640, 300x300, 64x64*/
	height: 60vw;
	width: 60vw;
	max-height: 350px;
	max-width: 350px;
	padding-top: 1vw;
	padding-bottom: 1vw;
	display: block !important;
	margin: auto !important;
}

.playing{

}

.album-name{
	overflow: hidden;
	height: 100%;
	width:90%;

}

.album-cover .album-img{
	height: 100%;
	width: 100%;

}

.center{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: calc(0px + 5vw) !important;
}

.title{
	line-height: 1.6em;
	text-align:center;
	text-shadow: 2px 2px #000;
	/*display: block;
	background-color: #27282b;
	border-radius: 25px;*/
}

.title-light{
	line-height: 1.6em;
	text-align:center;
	display: block;
	background-color: #191919;
	border-radius: 25px;
	padding-left:1vw;
	padding-right: 1vw;
}


.subdiv{
	line-height: 1.6em;
	text-align:center;
	display: block;
	background-color: #47484a;
	border-radius: 25px;
}

.stat{

}

.stat-description{
	text-align: left;
	padding-right:0px;
}

.stat-name{
	text-align: left;
}

.title p{
	padding-left:10vw;
	padding-right:10vw;
}

.btn {
	background: transparent;
	border-radius: 2em;
	border: 0.2em solid var(--Green);
	color: var(--Green);
	cursor: pointer;
	font-size: calc(20px + .5vw);
	padding: 0.5em 1.5em;
	text-transform: uppercase;
	transition: all 0.25s ease;
}

.btn:hover {
	background: var(--Green);
	color: var(--Black);
}

.btn-login {
	display: block;
 	padding-bottom: 10px;	
}

#login, #loggedin {
  	
}

.text-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 500px;
}

@media only screen and (min-width: 990px) {
    /* Larger than mobile */
    .left{
    	padding-right:  0 !important;
    }

    .right{
    	padding-left: 0 !important;
    }
}
