html { position: relative; min-height: 100%; }

body {
  margin-bottom: 100px; /* Margin bottom by footer height */
  background-color: #191919;
  color:#FFF;
  font-size: 1em;
  font-family: 'Merriweather', serif;
}

#Artist{
	width: 100%;

	display: block;

	/*height: 4vw;*/
	
}

#Title{
	
	width: 100%;

	display: block;
	/*overflow: wrap;*/
}

#NoMusic{
	
}

#YesMusic{
	display: hidden !important;
}

.palette{
	width: 20px;
	height: 20px;
	margin: 1vw;
	
	float:left;
}

.footer {
    height: 100px; 
    width: 95%; 
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-color: #67686a;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
    display: hidden;
    border-radius: 50px;
}

.album-current{
	overflow: hidden;	
	height:100px;
}

.album-cover{
	/* 640x640, 300x300, 64x64*/
	height: 60vw;
	width: 60vw;
	max-height: 350px;
	max-width: 350px;
	padding-top: 1vw;
	padding-bottom: 1vw;
	display: block !important;
	margin: auto !important;
}

.playing{

}

.album-name{
	overflow: hidden;
	height: 100%;
	width:90%;

}

.album-cover .album-img{
	height: 100%;
	width: 100%;

}

.title{
	line-height: 1.6em;
	text-align:center;
	display: block;
	background-color: #27282b;
	border-radius: 25px;
}

.title-light{
	line-height: 1.6em;
	text-align:center;
	display: block;
	background-color: #191919;
	border-radius: 25px;
	padding-left:1vw;
	padding-right: 1vw;
}

.lead{
	font-size: 1.05em;
}

.subdiv{
	line-height: 1.6em;
	text-align:center;
	display: block;
	background-color: #47484a;
	border-radius: 25px;
}

.stat{

}

.stat-description{
	text-align: left;
	padding-right:0px;
}

.stat-name{
	text-align: left;
}

.title p{
	padding-left:10vw;
	padding-right:10vw;
}

.btn {
	background-color: transparent;
	border-radius: 2em;
	border: 0.2em solid #1ecd97;
	color: #1ecd97;
	cursor: pointer;
	font-size: 1.3em;
	padding: 0.7em 1.5em;
	text-transform: uppercase;
	transition: all 0.25s ease;
}

.btn:hover {
	background: #1ecd97;
	color: #333;
}

.btn-login {
	display: block;
	margin:auto;
  /*margin: 0 auto;*/
}

#login, #loggedin {
  	
}

.text-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 500px;
}

@media only screen and (min-width: 990px) {
    /* Larger than mobile */
    .left{
    	padding-right:  0 !important;
    }

    .right{
    	padding-left: 0 !important;
    }
}
